@using Generalate.Controllers;
@{
    ViewBag.Title = "ChangePassword";
}
<link href="~/css/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />
@*<ul class="breadcrumb" style="margin-top:80px;">
    <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
</ul>*@
@{
    var tabPermissions = Session["tabPermissionList"] as List<Generalate.Models.TabPermissions>;
    var viewpermissions = Session["ViewPagePermission"] as List<Generalate.Models.Tbl_TopMenuPermission>;
}
<div class="page-content-wrap" style="margin-top:100px">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 jss_c">
                <div class="tab-content tab_sis">
                    <div id="dataitemappointment" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="background-color:#29b2e1">
                                        <span>@{@HomeController.GetControlTextByControlId("Create_Password");}</span><span class="pull-right"><a style="font-size: 25px; color:#e6edf3;" class="fa fa-chevron-circle-left" href="/Home/Admin" id="circleimage"></a></span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box box-info">
                                                    <div class="box-header with-border"></div>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <form id="PasswordForm" class="form-horizontal" action="/Data2/AddPassword" method="post" enctype="multipart/form-data">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label for="inputPassword3" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("User_Role");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <input type="hidden" id="Id" name="Id" class="form-control" />
                                                                            <select class="form-control" name="UserRole" id="UserRole">
                                                                                @{ 
                                                                                    foreach(var item in ViewBag.TblUserrole as IEnumerable<Generalate.Models.Tbl_UserRole>)
                                                                                    {
                                                                                        <option value="@item.Role_Name">@item.Role_Name</option>
                                                                                    }
                                                                                }
                                                                                @*<option value="admin">Admin</option>
                                                                                <option value="brothers">Brothers</option>
                                                                                <option value="staff">Staff</option>*@
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPassword3" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("GenProvince");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <select class="form-control" name="UserName" id="UserName" required></select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group" id="MemberNamehere">
                                                                        <label for="" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("Select_Member");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <select id="MemberId" name="MemberId" class="form-control">
                                                                             
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group" id="StaffNamehere" style="display:none;">
                                                                        <label for="" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("Staff Name");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <select id="StaffNames" name="MemberId" class="form-control"></select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("User_Name");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <input type="text" autocomplete="off" class="form-control" name="LoginUserName" id="LoginUserName" required />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPassword3" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("Password");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <input type="password" autocomplete="off" class="form-control" required name="UserPassword" id="UserPassword">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputPassword3" class="col-sm-3 control-label"><span>@{@HomeController.GetControlTextByControlId("Status");}</span></label>
                                                                        <div class="col-sm-6">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" name="IsActive" value="yes" checked>Active
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" name="IsActive" value="no">Not-Active
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-6">
                                                                            @{

                                                                                @*var isPermission = tabPermissions.FirstOrDefault(x => x.TabName == "CreatePasswordAdd");
                                                                                if (isPermission != null)
                                                                                {
                                                                                    <button type="submit" class="btn btn-info pull-right" id="btnPassSave"><span>@{@HomeController.GetControlTextByControlId("Save");}</span></button>
                                                                                }*@
                                                                                var ispermissinview = viewpermissions.FirstOrDefault(x => x.Createpermission == true);
                                                                                if (ispermissinview != null)
                                                                                {
                                                                                    <button type="submit" class="btn btn-info pull-right" id="btnPassSave"><span>@{@HomeController.GetControlTextByControlId("Save");}</span></button>

                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    @if (HttpContext.Current.Session["UserName"].ToString() == "adminuser")
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table class="table table-striped table-bordered table-hover" id="PassTbl" style="margin-top:20px;">
                                                                    <thead>
                                                                        <tr style="background-color:#001f6b; color:white">
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("User_Role");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("ProvinceName");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("MemberId");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("User_Name");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Password");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Status");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Generate Encpted File");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Download Encpted File");}</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="tbody">
                                                                        @{
                                                                            int L12 = 1;
                                                                            foreach (var item in @ViewBag.allpass as IEnumerable<Generalate.Models.Tbl_UserLogins>)
                                                                            {
                                                                                <tr>
                                                                                    <td>@L12</td>
                                                                                    <td>@item.UserRole</td>
                                                                                    <td>@item.UserName</td>
                                                                                    <td>@item.MemberId</td>
                                                                                    <td>@item.LoginUserName</td>
                                                                                    <td>@item.UserPassword</td>
                                                                                    <td>@item.IsActive</td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                L12++;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table class="table table-striped table-bordered table-hover" id="PassTbl" style="margin-top:20px;">
                                                                    <thead>
                                                                        <tr style="background-color:#001f6b; color:white">
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("User_Role");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("ProvinceName");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Member_Name");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("User_Name");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Password");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("CreatedBy");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Status");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Generate Encpted File");}</span></th>
                                                                            <th><span>@{@HomeController.GetControlTextByControlId("Download Encpted File");}</span></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody class="tbody">
                                                                        @{
                                                                            int L = 1;
                                                                            foreach (var item in @ViewBag.allpassadmin as IEnumerable<Generalate.Models.Tbl_UserLogins>)
                                                                            {

                                                                                <tr>
                                                                                    <td>@L</td>
                                                                                    <td>@item.UserRole</td>
                                                                                    <td>@item.UserName</td>
                                                                                    <td>@item.MemberId</td>
                                                                                    <td>@item.LoginUserName</td>
                                                                                    <td><input type="button" data-val="@item.Id" class="btn btn-sm btn-primary viewpasswordbtn" value="********" /></td>
                                                                                    <td>@item.CreatedBy</td>
                                                                                    @if (@item.IsActive == "yes")
                                                                                    {
                                                                                        <td>Active</td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <td>Not-Active</td>
                                                                                    }
                                                                                    <td>
                                                                                        @{
                                                                                            var isPermissionCreatePasswordEdit = tabPermissions.FirstOrDefault(x => x.TabName == "CreatePasswordEdit");
                                                                                            if (isPermissionCreatePasswordEdit != null)
                                                                                            {
                                                                                                <button class="btn btn-success btn-sm PasswordEdit" data-val="@item.Id"><span>@{@HomeController.GetControlTextByControlId("Edit");}</span></button>
                                                                                            }
                                                                                        }
                                                                                    </td>
                                                                                    <td>
                                                                                        <button class="btn btn-success btn-sm encptBtn" data-val="@item.Id"><span>@{@HomeController.GetControlTextByControlId("Encryption");}</span></button>
                                                                                    </td>
                                                                                    <td>
                                                                                        @if (!string.IsNullOrEmpty(@item.EncrptedInfoFile))
                                                                                        {
                                                                                            @*<a style="color:green;" target="blank" href="~/EncryptionFiles/@item.EncrptedInfoFile" download="@item.EncrptedInfoFile">Download file</a>*@
                                                                                            <a style="color:green;" target="blank" href="/Home/DownloadEncrFile?filename=@item.EncrptedInfoFile">Download file</a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a style="color:red;" href="#">No file</a>
                                                                                        }
                                                                                    </td>
                                                                                </tr>
                                                                                L++;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*model popup for the check password for file encrption*@
<div class="container">
    <!-- Modal -->
    <div class="modal fade" style="margin-top:200px;" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">Password</div>
                        <div class="col-sm-8">
                            <input type="password" autocomplete="off" class="form-control" placeholder="Login Password" id="passwordTxt" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="EncrptedbtnOK">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*end popup*@
@*model popup for the view password*@
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModalViewPassword" style="margin-top:200px;" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter Password12</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            Password :
                        </div>
                        <div class="col-sm-8">
                            <input type="password" autocomplete="off" class="form-control" placeholder="Login Password" id="passwordTxt2" />
                        </div>
                    </div>
                    <div class="row" style="display:none; margin-top:5px;" id="viewpasswordBox">
                        <div class="col-sm-4">
                            User Password :
                        </div>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="viewpasswordTxt" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="viewPasswordbtnOK">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*end popup*@

@section Scripts {
    <script src="~/css/DropDownSelect2/dist/js/select2.min.js"></script>
    <script>

        $("#circleimage").mouseover(function () {
            $("#circleimage").text("Back");
        });
        $("#circleimage").mouseout(function () {
            $("#circleimage").text("");
        });

        $("#UserRole").change(function () {
          //debugger;
            var userrole = $("#UserRole option:selected").val();
            if (userrole == "admin") {
                $("#StaffNamehere").css("display", "none");
                $("#MemberNamehere").css("display", "block");
            }
            if (userrole == "brothers") {
                $("#StaffNamehere").css("display", "none");
                $("#MemberNamehere").css("display", "block");
            }
            if (userrole == "staff") {
                $("#StaffNamehere").css("display", "block");
                $("#MemberNamehere").css("display", "none");
            }
        });
    </script>
    <script>
        $(document).ready(function () {
          //debugger;
            $('#PassTbl').DataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }
        });
    </script>

    <script>
        $(".PasswordEdit").on('click', function () {
          //debugger;
            $('#PasswordForm').attr('action', '/Data2/PasswordUpdate');
            var id = $(this).attr("data-val");
            $("#btnPassSave").text("Update");
            GetPassById(id);
        });

        function GetPassById(id) {
            $.ajax({
                url: "/Data2/GetPassById?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                  //debugger;
                    $("#Id").val(result.Id);
                    $("#UserRole").val(result.UserRole);
                    $("#UserPassword").val(result.UserPassword);
                    $("#LoginUserName").val(result.LoginUserName);
                    $('#UserName option[value="' + result.UserName + '"]').attr("selected", "selected");
                    $('#UserName').val(result.UserName).change();
                    $('#MemberId option[value="' + result.MemberId + '"]').attr("selected", "selected");
                    $('#MemberId').val(result.MemberId).change();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            GetAllProvince1();
        });

        function GetAllProvince1() {
            $.ajax({
                url: "/Home/GetAllProvince1234",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#UserName').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Province Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].Id, text: response2[i].Name + " " + response2[i].Place });
                        }
                        $("#UserName").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                    //alert(er);
                }
            });
        }
    </script>
    <script>
        var enptedFileId = "";
        $(".encptBtn").on("click", function () {
            $('#myModal').modal('show');
            enptedFileId = $(this).attr("data-val");
            $("#passwordTxt").val('');
        });

        $("#EncrptedbtnOK").on("click", function () {
            var enterpassword = $("#passwordTxt").val();
            if ("@Convert.ToString(Session["password"])"==enterpassword) {
            CreateEncptFile(enptedFileId);
            } else {
                alert("Invalid password enter, please try again");
            }
        });
        function CreateEncptFile(id) {
             $.ajax({
                url: "/Data2/EncryptionPass?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert("User Encryption file has generated");
                    window.location.reload();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>

    @*view pass*@
    <script>
        var enptedFileId2 = "";
        $(".viewpasswordbtn").on("click", function () {
            $("#viewpasswordBox").css("display", "none");
            $("#passwordTxt2").val('');
            $('#myModalViewPassword').modal('show');
            enptedFileId2 = $(this).attr("data-val");
        });

        $("#viewPasswordbtnOK").on("click", function () {
            var enterpassword = $("#passwordTxt2").val();
            if ("@Convert.ToString(Session["password"])"==enterpassword) {
            GetUserPassword(enptedFileId2);
            } else {
                alert("Invalid password enter, please try again");
            }
        });
        function GetUserPassword(id) {
             $.ajax({
                url: "/Data2/GetUserPassword?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                 success: function (result) {
                     if (result != "201") {
                         $("#viewpasswordTxt").val(result);
                         $("#viewpasswordBox").css("display", "block");
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>

    @*MemberNamefilter*@

    <script>
        $(document).ready(function () {
            GetAllProvinceMember();
        });
        function GetAllProvinceMember() {
            $.ajax({
                url: "/Data2/GetAllProvinceMember",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#MemberId').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Member Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].MemberID, text: response2[i].Name + " " + response2[i].SirName });
                        }
                        $("#MemberId").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            GetAllProvinceStaff();
        });
        function GetAllProvinceStaff() {
            $.ajax({
                url: "/Data2/GetAllProvinceStaff",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#StaffNames').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Staff Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].MyId, text: response2[i].StaffNameName  });
                        }
                        $("#StaffNames").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
    </script>

    <script>
        $("#UserName").change(function () {
          //debugger;
            var province = $("#UserName option:selected").val();
            GetAllProvinceMember1(province);
            GetAllProvinceStaff1(province);
        });

        function GetAllProvinceMember1(province) {
            $.ajax({
                url: "/Data2/GetAllProvinceMember1?province=" + province,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#MemberId').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Member Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].MemberID, text: response2[i].Name + " " + response2[i].SirName });
                        }
                        $("#MemberId").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }

        function GetAllProvinceStaff1(province) {
            $.ajax({
                url: "/Data2/GetAllProvinceStaff1?province=" + province,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#StaffNames').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Staff Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].MyId, text: response2[i].StaffNameName });
                        }
                        $("#StaffNames").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
    </script>
    @*SavedPopup*@
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "200") {
            $("#mymessage").html("<b>Data saved successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "204") {
            $("#mymessage").html("<b>Some Error Occured !</b>");
            $("#mymessage").css("color", "red");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "201") {
            $("#mymessage").html("<b>Data Updated Successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "202") {
            $("#mymessage").html("<b>Data Deleted Successfully !</b>");
            $("#mymessage").css("color", "blue");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
}
