@model IEnumerable<Generalate.Models.tbl_Jubilee>


<div class="form-horizontal" style="margin-left:30px; margin-right:30px;">
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @*<button type="button" class="btn btn-primary" id="printbtn" style="background-color:#001f6b" >Print</button>*@
        <br />

    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="tab panel-heading">
                <a style="color:white;">Reports</a>
            </div>
            <br />

            <div class="row" style="margin-left:30px; margin-right:30px;">

                <table class="table">
                    <tr style="color:white; background-color:#009be1">
                        <th style="display:none;">
                            @Html.DisplayNameFor(model => model.MemberID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SirName)
                        </th>

                       
                        <th>
                            @Html.DisplayNameFor(model => model.Profession)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstProfession)
                        </th>
                        
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.MemberID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SirName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                           
                            <td>
                                @Html.DisplayFor(modelItem => item.Profession)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.FirstProfession)
                            </th>
                           
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">




        $('#printbtn').click(function () {
            window.open('http://localhost:8089/AllReports/ViewAllReport2/' + lastsegment);

        });


    //});

</script>
@*<script type="text/javascript">
        $(function () {
            $('#FirstProfession').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                yearRange: '1970:2080'

            });
        });

</script>*@