@using Generalate.Controllers;
@model IEnumerable<Generalate.Models.ViewModels.AppointmentViewModel>
@{
    ViewBag.Title = "Appointment";
}

<ul class="breadcrumb" style="margin-top:150px;">
    <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
</ul>

<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:#29b2e1"><span>@{@HomeController.GetControlTextByControlId("Appointment_Renewal");}</span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="col-sm-3" style="width: 40%;">
                                <label class="radio-inline"><input type="radio" name="optradio" checked value="A"><span>@{@HomeController.GetControlTextByControlId("Appointment");}</span></label>
                            </div>
                            <div class="col-sm-3" style="width: 40%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="R"><span>@{@HomeController.GetControlTextByControlId("Renewal");}</span></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <input type="button" class="btn btn-success pull-right" value=@{@HomeController.GetControlTextByControlId("Print");} id="btnPrint" />
                        </div>
                    </div>
                    <div class="row" id="AppointDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Appointment_List");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="tblappoint" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Title");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int i = 1;
                                        foreach (var item in @ViewBag.allAppointment as IEnumerable<Generalate.Models.AppointmentData>)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.DataListItemName</td>
                                                <td><a href="/Appointment/AppointmentDetails?Type=Appo&id=@item.Id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="RenewalDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Renewal_List");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="tblRenewal" style="margin-top:0px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Title");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int j = 1;
                                        foreach (var item in @ViewBag.allRenewal as IEnumerable<Generalate.Models.DataListItems2>)
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@item.DataListItemName</td>
                                                <td><a href="/Appointment/RenewalDetails?Type=Rene&id=@item.Id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            j++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/
            This.js"></script>
    <script>

        $('#btnPrint').on("click", function () {
            $('#prientbox').printThis({
                base: "https://jasonday.github.io/printThis/"
            });
        });
    </script>

    <script>

        $(document).ready(function () {
          //debugger;
            $("#AppointDiv").css("display", "block");
            $("#RenewalDiv").css("display", "none");

            $('#tblappoint').DataTable();
            $('#tblRenewal').DataTable();
        });

        $("input[name='optradio']").change(function () {
          //debugger;
            var radioValue = $("input[name='optradio']:checked").val();
            if (radioValue == 'A') {
                $("#AppointDiv").css("display", "block");
                $("#RenewalDiv").css("display", "none");

            } else if (radioValue == 'R') {
                $("#AppointDiv").css("display", "none");
                $("#RenewalDiv").css("display", "block");
            }
        });

    </script>
}


