@using Generalate.Controllers;
@{
    ViewBag.Title = "SubmenuHeader";
}

<div class="page-content-wrap" style="margin-top:100px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="background-color:#29b2e1"><span>@{@HomeController.GetControlTextByControlId("Staff_Details");}</span><span class="pull-right"><a style="font-size: 25px; color:#e6edf3;" class="fa fa-chevron-circle-left" href="/Home/Admin" id="circleimage"></a></span></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-info">
                                            <div class="box-body  " style="height:auto;">
                                                <div class="row">
                                                    <form class="form-horizontal" action="/RolePermission/AddSubmenu" method="post" id="StaffForm" enctype="multipart/form-data">
                                                        <div class="col-sm-6">
                                                            <div class="form-group" style="margin-left:20px">
                                                                <label>@{@HomeController.GetControlTextByControlId("Topmenuheader");} </label>
                                                                <select class="form-control" id="Topmenu_Id" name="Topmenu_Id">
                                                                    <option value="0">---Select---</option>
                                                                    @{ 
                                                                        foreach(var item in ViewBag.Topmenu as IEnumerable<Generalate.Models.Tbl_Topmenuheader>)
                                                                        {
                                                                            <option value="@item.Header_id">@item.Header_Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="form-group" style="margin-left:20px">
                                                                <label><span>@{@HomeController.GetControlTextByControlId("Submenu");}</span></label>
                                                                <div>
                                                                    <input type="text" class="form-control" name="Submenu_Name" id="Submenu_Name">
                                                                    <input type="hidden" id="Submenu_Id" name="Submenu_Id" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-left:20px">
                                                                 <label><span>@{@HomeController.GetControlTextByControlId("PageName");}</span></label>
                                                                <div>
                                                                    <input type="text" id="Page_name" name="Page_name" class="form-control"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="margin-left:20px">
                                                                <label>@{@HomeController.GetControlTextByControlId("Upload_Imae");}</label>
                                                                <input type="file" id="Filename" name="file" class="form-control"/>
                                                                <span style="display:none" id="UploadImage"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <button type="submit" class="btn btn-info pull-right" id="btnAddStaff"><span>@{@HomeController.GetControlTextByControlId("Save");}</span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row" style="margin-top:40px;">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered table-hover" id="TblStaff" style="margin-top:20px;">
                                                            <thead>
                                                                <tr style="background-color:#001f6b; color:white">
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("Topmenu");}</span> </th>
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("Submenu");}</span> </th>
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("PageName");}</span> </th>
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("Icons");}</span> </th>
                                                                    <th> <span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="tbody">
                                                                @{
                                                                    int iis = 1;
                                                                    foreach (var item in ViewBag.submenu as IEnumerable<Generalate.Models.Tbl_Submenuhead>)
                                                                    {
                                                                <tr>
                                                                    <td>@iis</td>
                                                                    <td>@item.Topmenu_Name</td>
                                                                    <td>@item.Submenu_Name</td>
                                                                    <td>@item.Page_name</td>
                                                                    @{
                                                                        if (item.File_Name != null)
                                                                        {
                                                                            <td>
                                                                                <a href="~/Image/TopmenuIcons/@item.File_Name" target="_blank">View</a>
                                                                            </td>

                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a href="~/Image/TopmenuIcons/OfficialMeeting.png" target="_blank">View</a>
                                                                            </td>

                                                                        }
                                                                    }
                                                                    <td>
                                                                        <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Submenu_Id" class="fa fa-edit Edituserrole"></i></button>
                                                                        <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Submenu_Id" class="fa fa-trash-o Deleteuserrole"></i></button>
                                                                    </td>
                                                                </tr>
                                                                        iis++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#TblStaff").DataTable();
        });
    </script>

    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "200") {
            $("#mymessage").html("<b>Data saved successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            //location.reload();
        });
    </script>
    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "204") {
            $("#mymessage").html("<b>Some Error Occured !</b>");
            $("#mymessage").css("color", "red");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            //location.reload();
        });
    </script>
    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "202") {
            $("#mymessage").html("<b>Data Deleted Successfully !</b>");
            $("#mymessage").css("color", "blue");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
        $(".Edituserrole").on('click', function () {
            var id = $(this).attr("data-val");
            $("#StaffForm").attr('action', "/RolePermission/UpdateSubmenu");
            $("#btnAddStaff").text("Update");

            GetSubmenuById(id);

        });

        function GetSubmenuById(id) {
            $.ajax({
                url: "/RolePermission/GetSubmenuById?Id=" + id,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    $("#Submenu_Id").val(result.Submenu_Id);
                    $("#Submenu_Name").val(result.Submenu_Name);
                    $("#Topmenu_Id").val(result.Topmenu_Id);
                    $("#Topmenu_Name").val(result.Topmenu_Name);
                    $("#Page_name").val(result.Page_name);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        $("#Deleteuserrole").on('click', function () {
            var id = $(this).attr("data-val");
            var cnf = confirm("Are You Sure, You want to delete?");
            if (cnf == true) {
                window.location.href = "/RolePermission/DeleteUserRole?id=" + id;
            }
        });

    </script>


}
