


@model Generalate.Models.tbl_PersonalDetails
@using Generalate.Controllers;
@using System.Linq;
<input id="DynamicTotalCount" type="hidden" value="@ViewBag.DynamicTotalCount" />
<div class="table-responsive">
    <table id="example" class="display table table-sm table-hover table-striped " style="width:100%">
        <thead>
            <tr>
                <th style="background-color:#29b2e1;color:white"><input type="checkbox" id="checkedAll" class="custom-control-input"></th>
                <th class="AllShow hide-1" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("S_No");}</span></th>
                <th class="AllShow hide-2" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Province_Name");}</span></th>
                <th class="AllShow hide-3" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("MemberId");}</span></th>
                <th class="AllShow hide-4" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                <th class="AllShow hide-5" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Surname");}</span></th>
                <th class="AllShow hide-8" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Title");}</span></th>
                <th class="AllShow hide-9" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Age");}</span></th>
                <th class="AllShow hide-10" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Date");}</span></th>
                <th class="AllShow hide-11" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Description");}</span></th>
                <th class="AllShow hide-6" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("View_Details");}</span></th>
                <th class="AllShow hide-7" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Add_Profile");}</span></th>
                <th style="width:2%;background-color:#29b2e1;color:white;cursor:pointer" id="opendivdots" class="notdivhide" onclick="openNav()">...</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="AllShow hide-2" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="provincename" onkeyup="searchbycolumn(event,'proname1')" class="searchclass" />
                        <span onclick="clearprovincename()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-3" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="memberid" onkeyup="searchbycolumn(event,'memberid1')" class="searchclass" />
                        <span onclick="clearmemberid()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-4" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="sepname" onkeyup="searchbycolumn(event,'name1')" class="searchclass" />
                        <span onclick="clearname()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-5" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="sirname" onkeyup="searchbycolumn(event,'sirname1')" class="searchclass" />
                        <span onclick="clearsirname()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-8" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="title" onkeyup="searchbycolumn(event,'title1')" class="searchclass" />
                        <span onclick="cleartitle()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-9" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="age" onkeyup="searchbycolumn(event,'age1')" class="searchclass" />
                        <span onclick="clearage()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-10" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="date" onkeyup="searchbycolumn(event,'date1')" class="searchclass" />
                        <span onclick="cleardate()" class="clearbutton">X</span>
                    </div>
                </td>
                <td class="AllShow hide-11" style="color:white;display:none">
                    <div class="buttonwrapper">
                        <input type="text" id="description" onkeyup="searchbycolumn(event,'description1')" class="searchclass" />
                        <span onclick="cleardescription()" class="clearbutton">X</span>
                    </div>
                </td>
               
            </tr>
        </thead>
        <tbody>
            @{
                int ji = ViewBag.StartValue;
                foreach (var item in @ViewBag.EternalRest)
                {
                    <tr>
                        <td><input type="checkbox" id="checkbox-76" class="checkSingle"></td>
                        <td style="display:none" class="AllShow hide-1">@ji</td>
                        <td style="display:none" class="AllShow hide-2">@item.Provinceid</td>
                        <td style="display:none" class="AllShow hide-3">@item.MemberID</td>
                        <td style="display:none" class="AllShow hide-4"> <a href="../Member/MemberInfoById_Primary?memberId=@item.MemberID&Name=&SirName=">@item.Name</a></td>
                        <td style="display:none" class="AllShow hide-5">@item.SurName</td>
                        <td style="display:none" class="AllShow hide-8">@item.Title</td>
                        <td style="display:none" class="AllShow hide-9">@item.age</td>
                        <td style="display:none" class="AllShow hide-10">@item.Date</td>
                        <td style="display:none" class="AllShow hide-11">@item.Description</td>
                        <td style="display:none" class="AllShow hide-6"><a href="/HomeUser/SaprationDetails?id=@item.MemberID">View Details</a></td>
                        <td style="display:none" class="AllShow hide-7"><a href="/Member/MemberInfoById?memberId=@item.MemberID">Add profile</a></td>

                        <td></td>
                    </tr>
                    ji++;
                }
            }
        </tbody>
    </table>
    <div id="mySidenav_Dynamic" class="sidenav" style="display:none">
        <div style="border-style:solid">
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-1" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("S_No");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-2" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Province_Name");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-3" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("MemberId");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-4" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Name");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-5" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Surname");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-8" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Title");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-9" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Age");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-10" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Date");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-11" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Description");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-6" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("View_Details");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-7" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Add_Profile");}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>

    .buttonwrapper {
        display: inline-block;
    }

    .searchclass {
        background-color: transparent;
        border: 1px solid #dcdce5;
        height: 7%;
        color: black;
        border-radius: 15px;
    }

    .clearbutton {
        margin-left: -20%;
        border: none;
        background-color: white;
        color: dodgerblue;
        cursor: pointer;
    }
</style>

<script>
    $(document).ready(function () {
        //alert($('#mySidenav_Dynamic').html());
        $('#Dynamic_Checkbox').val('3');
        $("#mySidenav").empty();
        $("#mySidenav").html($('#mySidenav_Dynamic').html());
        $('#mySidenav_Dynamic').empty();
        var dynamiColData = '@ViewBag.ColumnShow';
        //alert(dynamiColData);
        if (dynamiColData != '') {
            var CommaSepData = dynamiColData.split(',');
            $.each(CommaSepData, function (index, value) {
                $("#checkbox-grid-" + CommaSepData[index]).attr('checked', 'true');
                $(".hide-" + CommaSepData[index]).show();
            });
        }
        else {
            $('input[class=notdivhide]').each(function () {
                $(this).attr('checked', 'true');
            });
            $('.AllShow').show();
        }
        $('input[class=notdivhide]').on('click', function () {
            var id = $(this).attr("id").replace('checkbox-grid-', '');
            if ($(this).is(':checked')) {
                $(".hide-" + id).show();
            }
            else {
                $(".hide-" + id).hide();
            }
        });
    });


    function clearprovincename() {
        $("#provincename").val('');
        GetGrid();
    }

    function clearmemberid() {
        $("#memberid").val('');
        GetGrid();
    }

    function clearname() {
        $("#sepname").val('');
        GetGrid();
       
    }

    function clearsirname() {
        $("#sirname").val('');
        GetGrid();
       
    }

    function cleartitle() {
        $("#title").val('');
        GetGrid();
       
    }

    function clearage() {
        $("#age").val('');
        GetGrid();
    }

    function cleardate() {
        $("#date").val('');
        GetGrid();
    }

    function cleardescription() {
        $("#description").val('');
        GetGrid();
    }

</script>