@using Generalate.Controllers;
@{
    /**/

    ViewBag.Title = "AddMember";
}
<link href="~/css/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />
<ul class="breadcrumb" style="margin-top:80px;">
    <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
</ul>
@{
    var tabPermissions = Session["tabPermissionList"] as List<Generalate.Models.TabPermissions>;
}

<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;">
        @*<div class="col-md-12 overflow-daily" style="margin-right:-5px;margin-left:5px;height:600px;">*@
        <div class="col-md-12 " style="margin-right:-5px;margin-left:5px;height:auto;">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:#29b2e1"> <span>@{@HomeController.GetControlTextByControlId("Add_Member");}</span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="~/ExcelSampleFiles/UPloadMemberSampleFile.xlsx" download>Download Sample Excel</a>
                        </div>
                        <div class="col-sm-4">
                            <label class="pull-right">Upload Excel</label>
                        </div>
                        <div class="col-sm-4">
                            <input class="pull-right btn btn-success btn-sm" type="button" value="Upload" id="uploadMembersBtn" />
                            <input class="pull-right" type="file" accept=".xlsx" id="uploadMembersfile" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title"> <span>@{@HomeController.GetControlTextByControlId("Member_Information");}</span></h3>
                                </div>
                                <form class="form-horizontal" action="/Member/AddMember" id="memberform" method="post" enctype="multipart/form-data">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"><span>@{@HomeController.GetControlTextByControlId("Province");} ddd</span></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="ProvinceName" id="ProvinceName"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label"><span>@{@HomeController.GetControlTextByControlId("Name");}</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="Name" id="Name12345" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"> <span>@{@HomeController.GetControlTextByControlId("Surname");}</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="SirName" id="SirName">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"><span>@{@HomeController.GetControlTextByControlId("MemberId");}</span></label>
                                            <div class="col-sm-8">
                                                <input type="hidden" name="PersonalDetailsId" id="PersonalDetailsId">
                                                <input type="text" class="form-control" name="MemberId" value="@ViewBag.MemberId" id="MemberId" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label"><span>@{@HomeController.GetControlTextByControlId("File_No");}</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="FileNo" id="FileNo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"> <span>@{@HomeController.GetControlTextByControlId("Upload_Photo");}</span></label>
                                            <div class="col-sm-8">
                                                <input type="file" class="form-control" id="UploadPhoto" name="Spare1">
                                                <span id="UploadPhotoShow"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                @{
                                                    var isPermissionMemberAdd = tabPermissions.FirstOrDefault(x => x.TabName == "AddMemberAdd");
                                                    if (isPermissionMemberAdd != null)
                                                    {
                                                        <button type="submit" class="btn btn-info pull-right" onclick="return SavebtnSaveMember()" id="btnSaveMember"><span>@{@HomeController.GetControlTextByControlId("Save");}</span></button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px; margin-right:10px;">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover" id="TbladdMember" style="margin-top:20px; margin-left:15px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        @*<th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>*@
                                        <th><span>@{@HomeController.GetControlTextByControlId("Province");}</span></th>
                                        <th><span>MemberId</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Member_Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Surname");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("FileNo");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Upload_Photo");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                @*<tbody class="tbody">
                            @{
                                int L = 1;
                                foreach (var item in @ViewBag.AllMemberData as IEnumerable<Generalate.Models.tbl_PersonalDetails>)
                                {
                                    <tr>
                                        <td>@L</td>
                                        <td>@item.ProvinceName</td>
                                        <td><a href="/Member/MemberInfoById?memberId=@item.MemberID&Name=&SirName="> @item.Name</a></td>
                                        <td>@item.SirName</td>
                                        <td>
                                            @{
                                                if (!string.IsNullOrWhiteSpace(@item.Spare1))
                                                {
                                                    <a target="_blank" href="~/Image/Primarydetails/@item.Spare1"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a>
                                                }
                                                else
                                                {
                                                    <a target="_blank" href="~/Image/No-data-found.png"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                var isPermissionAddMemberEdit = tabPermissions.FirstOrDefault(x => x.TabName == "AddMemberEdit");
                                                if (isPermissionAddMemberEdit != null)
                                                {
                                                    <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.PersonalDetailsId" class="fa fa-edit btnmemedit"></i></button>
                                                }
                                                var isPermissionAddMemberDelete = tabPermissions.FirstOrDefault(x => x.TabName == "AddMemberDelete");
                                                if (isPermissionAddMemberDelete != null)
                                                {
                                                    <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.PersonalDetailsId" class="fa fa-trash-o btnmemdelete"></i></button>
                                                }
                                                <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.PersonalDetailsId" class="fa fa-eye MemberView"></i></button>
                                            }
                                        </td>
                                    </tr>
                                    L++;
                                }
                            }
                        </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" style="z-index: 000000 !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin-top:60px;">
                        <div class="modal-content" style="width:1050px;">
                            <div class="modal-header">
                                <button type="button" id="manageClose" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"><span>@{@HomeController.GetControlTextByControlId("PersonalDetails");}</span></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="margin-top:20px; margin-right:10px;">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered" id="TblPersionalDetails">
                                            @try
                                            {
                                                <tr><h4 style="color:#009be1"><span>@{@HomeController.GetControlTextByControlId("PersonalDetails");}</span></h4></tr>
                                                <tr>
                                                    <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                                    <td style="width:30%"><span id="MemKnowName"></span></td>
                                                    <th><span>@{@HomeController.GetControlTextByControlId("Surname");}</span></th>
                                                    <td><span id="MemSirName"></span></td>
                                                </tr>
                                                <tr>
                                                    <th><span>@{@HomeController.GetControlTextByControlId("ProvinceName");}</span></th>
                                                    <td><span id="MemProvinceName"></span></td>
                                                    <th style="width:17%"> <span>@{@HomeController.GetControlTextByControlId("File_No");}</span></th>
                                                    <td><span id="MemProfileNo"></span>  </td>
                                                </tr>
                                                <tr>
                                                    <th><span>@{@HomeController.GetControlTextByControlId("File");}</span></th>
                                                    <td><a target="_blank" id="FileView" href="#"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                                    <th></th>
                                                    <td></td>
                                                </tr>
                                            }
                                            catch (Exception ex)
                                            {

                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="memberList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width:840px">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLongTitle">Wrong Uploaded Data List(These rows are not saved)</h4>
                                <h5 class="modal-title" id="exampleModalLongTitle">-------------------------------------------------------------------------------------------</h5>
                                <div id="listMembers">

                                </div>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="refreshpage();" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/css/DropDownSelect2/dist/js/select2.min.js")"></script>
    <script type="text/javascript">
        function deleteMember(id) {
            //var id = $(this).attr("data-val");
            if (confirm("Do you want to delete ?")) {
                window.location.href = "/Member/DeleteGetMemberById?id=" + id;
            }
        }
        function viewMember(id) {
            $('#myModal').modal('show');
            // var id = $(this).attr("data-val");
            GetPersonalById(id);
        }
        function updateMember(id) {
            $('#memberform').attr('action', '/Member/UpdateMember');
            //var id = $(this).attr("data-val");
            $("#btnSaveMember").text("Update");
            GetMemberById(id);
        }
        $(document).ready(function () {
            initDataTable(0);
        });

        function initDataTable(ProvinceName) {
            $('#TbladdMember').DataTable().destroy();
              datatable = $('#TbladdMember')
                .DataTable({
                    "sAjaxSource": "/Member/getAllMemberDetails?provinceName=" + ProvinceName,
                    "retrieve": true,
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": false,
                    "order": [[1, 'asc']],
                    "autoWidth": false,
                    "columns": [
                        {
                            "data": "ProvinceName",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        {
                            "data": "MemberID",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },

                        {
                            "data": "MemberID",
                            "autoWidth": false,
                            "width": "200px",
                            "render": function (data, type, row) {
                                if (data != null && data != '') {
                                    return '<a href="/Member/MemberInfoById_Primary?memberId=' + data + '&Name=&SirName=">' + row.Name + '</a>';
                                }
                                else {
                                    return '<a target="_blank" href="/Image/No-data-found.png">View</a>';
                                }
                            }
                        },
                        {   
                            "data": "SirName",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        {
                            "data": "FileNo",
                            "autoWidth": false,
                            "width": "200px",
                            "searchable": true
                        },
                        
                        {
                            "data": "Spare1",
                            // "autoWidth": true,
                            //"width": "100px",
                            "searchable": true,
                            "render": function (data, type, row) {

                                return '<a target="_blank" href="/Image/RenewalImages/"'+data+'"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a>';
                            }
                        },
                        {
                            "data": "PersonalDetailsId",
                            // "autoWidth": true,
                            //"width": "100px",
                            "searchable": true,
                            "render": function (data, type, row) {
                                if (data != null && data != '') {
                                    return '<button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="' + data + '" class="fa fa-edit btnmemedit" onclick=updateMember('+data+')></i></button><button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="' + data + '" class="fa fa-trash-o btnmemdelete" onclick=deleteMember('+data+')></i></button><button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="' + data + '" class="fa fa-eye MemberView" onclick=viewMember('+data+')></i></button>';
                                }
                            }
                        }
                    ]
                });
        }
      
    </script>

    <script>
        $("#ProvinceName").on("change", function () {
            //debugger;
            var e = document.getElementById("ProvinceName");
            var proName = e.options[e.selectedIndex].text;
            $("#HiddenProvince").val(proName);
            initDataTable(proName);
        });
    </script>

    <script>
        $('.MemberView').on("click", function () {
            $('#myModal').modal('show');
            var id = $(this).attr("data-val");
            GetPersonalById(id);
        });
        function refreshpage() {
            window.location.reload();
        }
        function GetPersonalById(id) {
            $.ajax({
                url: "/Member/GetPersonalById?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (persondata) {
                    $("#MemKnowName").text(persondata.Name);
                    $("#MemSirName").text(persondata.SirName);
                    $("#MemProvinceName").text(persondata.ProvinceName);
                    $("#MemProfileNo").text(persondata.FileNo);
                    $("#FileView").attr("href", "/Image/Primarydetails/" + persondata.Spare1);
                },
                error: function (er) {
                    //alert(er);
                }
            });
        }
    </script>

    <script>
        $(".btnmemedit").on('click', function () {
            //debugger;
            $('#memberform').attr('action', '/Member/UpdateMember');
            var id = $(this).attr("data-val");
            $("#btnSaveMember").text("Update");
            GetMemberById(id);
        });

        function GetMemberById(id) {
            $.ajax({
                url: "../Member/GetMemberById?id=" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    //debugger;
                    if (result != null) {
                        $('#PersonalDetailsId').val(result.PersonalDetailsId);
                        $('#MemberId').val(result.MemberID);
                        $("#Name12345").val(result.Name);
                        $("#SirName").val(result.SirName);
                        $("#FileNo").val(result.FileNo);
                        $("#GenFileNo").val(result.GenFileNo);
                        $('#UploadPhotoShow').text(result.Spare1);
                        $('#ProvinceName option[value="' + result.ProvinceName + '"]').attr("selected", "selected");
                        $('#ProvinceName').val(result.ProvinceName).change();
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            }); return false;
        }

        $(".btnmemdelete").on('click', function () {
            var id = $(this).attr("data-val");
            if (confirm("Do you want to delete ?")) {
                window.location.href = "/Member/DeleteGetMemberById?id=" + id;
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            GetAllProvinceView();
        });

        function GetAllProvinceView() {
            $.ajax({
                url: "/Home/GetAllProvinceView",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response2) {
                    if (response2.length > 0) {
                        var allDate2 = [];
                        var omObj2 = {};
                        $('#ProvinceName').html('').select2({ data: [{ id: '', text: '' }] });
                        allDate2.push({ id: '0', text: '-- Select Name --' });
                        for (var i = 0; i < response2.length; i++) {
                            allDate2.push({ id: response2[i].Id, text: response2[i].ProvinceName});
                            //allDate2.push({ id: response2[i].Id, text: response2[i].ProvinceName + " " + " " + response2[i].Place });
                        }
                        $("#ProvinceName").html('').select2({
                            data: allDate2
                        });
                    }
                },
                error: function (er) {
                }
            });
        }
    </script>

    <script>
        $('#uploadMembersBtn').click(function () {
            //debugger;
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#uploadMembersfile").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                //fileData.append('username', ‘Manas’);

                $.ajax({
                    url: '/ExcelWork/UploadMemberExcelFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        if (result == "") {
                            alert("Excel uploaded Successfully");
                            window.location.reload();
                        }
                        else if (result == "0") {
                            alert("Something went wrong");
                        }
                        else {
                            $("#listMembers").empty();
                            $("#listMembers").html(result);
                            $('#memberList').modal('show');
                            //window.location.reload();
                            //alert("Some Error Occure");
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    </script>

    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "200") {
            $("#mymessage").html("<b>Data saved successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "204") {
            $("#mymessage").html("<b>Some Error Occured !</b>");
            $("#mymessage").css("color", "red");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "201") {
            $("#mymessage").html("<b>Data Updated Successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
        //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "202") {
            $("#mymessage").html("<b>Data Deleted Successfully !</b>");
            $("#mymessage").css("color", "blue");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });

        function SavebtnSaveMember() {
            if ($("#ProvinceName").val() == "0") {
                alert("Please select the ProvinceName");
                return false;
            }

            return true;
        }
    </script>
}
<style>
    #MemberId {
        color: black
    }
</style>
