@using Generalate.Controllers;
@model Generalate.Models.Tbl_formationsDetails
@{
    ViewBag.Title = "FirstProfessionDetails";
}
<link href="~/css/DropDownSelect2/dist/css/select2.min.css" rel="stylesheet" />
<ul class="breadcrumb">
    <li class="pull-right"><a style="font-size: 30px;" class="fa fa-angle-circle-left" href="/HomeUser/HomeUser"></a></li>
</ul>

<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div id="prientbox">
                    <div class="row" id="PersionalDetailsDiv">
                        <div class="col-sm-12">
                            <div class="panel-group" style="background-color:#001f6b">
                                <div class="panel panel-primary">
                                    <div class="tab panel-heading" style="background-color:#001f6b;text-align:center;">
                                        <a style="color:white;"><span>@{@HomeController.GetControlTextByControlId("Formation_Details");}</span></a>
                                        <br />
                                    </div>
                                    <div class="col-sm-12">
                                        <input type="button" class="btn btn-success pull-right hidden-print" value="Print" id="btnPrint" />
                                    </div>
                                    <div id="FormationRecord" class="row" style="margin-left:30px; margin-right:30px;">
                                        <div class="row">
                                            <div class="col-sm-12" id="tblinstitution">
                                                <table class="table table-striped  table-hover" id="Tbformation" style="margin-top:20px;">
                                                    <thead>
                                                        <tr style="background-color:#001f6b; color:white">
                                                            <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("Stage_formation");}</span></th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("FromDate");}</span></th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("ToDate");}</span></th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("Community");}</span></th>
                                                            <th><span>@{@HomeController.GetControlTextByControlId("Formator/Superior");}</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody">
                                                        @{
                                                            int ii = 1;
                                                            foreach (var item in ViewBag.allfirstprofessionData as IEnumerable<Generalate.Models.Tbl_formationsDetails>)
                                                            {
                                                                <tr>
                                                                    <td>@ii</td>
                                                                    <td>@item.Name</td>
                                                                    <td>@item.StageOfFormation</td>
                                                                    <td>@item.FromDate</td>
                                                                    <td>@item.ToDate</td>
                                                                    <td>@item.Community</td>
                                                                    <td>@item.Formators</td>
                                                                </tr>
                                                                ii++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/printThis.js"></script>
    <script>
        $('#btnPrint').on("click", function () {
            $("#Tbformation").css("display", "block");

            $('#printbox').printThis({
                afterPrint: function () {
                    $("#Tbformation").css("display", "block");
                }
            });
        });
    </script>
}

