@using Generalate.Controllers;
@model IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>
@{
    ViewBag.Title = "SocInsCommPage";
}
<ul class="breadcrumb" style="margin-top:150px">
    <li class="pull-right"><a style="font-size: 30px;" class="fa fa-arrow-circle-left" href="/Home/Admin"></a></li>
</ul>
<div class="page-content-wrap">
    <div class="row" style="margin-right:-5px;margin-left:-5px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:#29b2e1"> <span>@{@HomeController.GetControlTextByControlId("Institution_Details");}</span></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2" style="width: 8%;">
                                @*<label class="radio-inline"><input type="radio" name="optradio" checked value="s"><span>@{@HomeController.GetControlTextByControlId("Society");}</span></label>*@
                                <label class="radio-inline"><input type="radio" name="optradio" checked value="s"><span>Legal</span></label>
                            </div>
                            <div class="col-sm-2" style="width: 8%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="i"><span>@{@HomeController.GetControlTextByControlId("Institution");}</span></label>
                            </div>
                            <div class="col-sm-2" style="width: 8%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="c"><span>@{@HomeController.GetControlTextByControlId("Community");}</span></label>
                            </div>
                            @*<div class="col-sm-2" style="width: 8%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="P"><span>@{@HomeController.GetControlTextByControlId("Trust");}</span></label>
                            </div>*@
                            <div class="col-sm-2" style="width: 10%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="Cn"><span>@{@HomeController.GetControlTextByControlId("Congregation");}</span></label>
                            </div>
                            <div class="col-sm-2" style="width: 10%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="Pr"><span>@{@HomeController.GetControlTextByControlId("Province");}</span></label>
                            </div>
                            <div class="col-sm-4" style="width: 15%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="COS"><span>@{@HomeController.GetControlTextByControlId("Community_Outside");}</span></label>
                            </div>
                            <div class="col-sm-3" style="width: 12%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="CH"><span>@{@HomeController.GetControlTextByControlId("Common_House");}</span></label>
                            </div>
                            <div class="col-sm-3" style="width: 12%;">
                                <label class="radio-inline"><input type="radio" name="optradio" value="DSR"><span>@{@HomeController.GetControlTextByControlId("District/Sector/Resion");}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="button" class="btn btn-success pull-right" value=@{@HomeController.GetControlTextByControlId("Print");} />
                        </div>
                    </div>
                    <div class="row" id="tblSocityDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Society_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="tblSocity" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.Where(x => x.Type.ToLower() == "s") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommDetails/SocInsCommDetails1?id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="TbInstitutionDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Institution_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TbInstitution" style="margin-top:0px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int j = 1;
                                        foreach (var item in Model.Where(x => x.Type.ToLower() == "i") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubInstitutionList?Type=Ins&id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            j++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="TblCommunitiesDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Community_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblCommunities" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int k = 1;
                                        foreach (var item in Model.Where(x => x.Type == "c") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@k</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubCommunityList?Type=Comm&id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            k++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="ParisDetailDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Trust_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblParis" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int l = 1;
                                        foreach (var item in Model.Where(x => x.Type == "P") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@l</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubParisList?Type=Parish&id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            l++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="CongDetailDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Cong_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblCong" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int li = 1;
                                        foreach (var item in Model.Where(x => x.Type == "Cn") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@li</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubCongList?Type=Cong&id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            li++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="ProvinceDetailDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Province_Details");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblProv" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int lii = 1;
                                        foreach (var item in Model.Where(x => x.Type == "Pr") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@lii</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubProvList?Type=Prov&id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            lii++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="TblComOutSideDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Community_Outside");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblComOutSide" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int k1 = 1;
                                        foreach (var item in Model.Where(x => x.Type == "COS") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@k1</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubComOutSide?id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            k1++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="TblComHouseDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("Common_House");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblComHouse" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int k12 = 1;
                                        foreach (var item in Model.Where(x => x.Type == "CH") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                            <tr>
                                                <td>@k12</td>
                                                <td>@item.Name</td>
                                                <td><a href="/SocInsCommPage/SubComHouse?id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                            </tr>
                                            k12++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="TblDisSecRegDiv">
                        <div class="col-sm-12">
                            <h4><span>@{@HomeController.GetControlTextByControlId("District/Sector/Resion");}</span></h4>
                            <table class="table table-striped table-bordered table-hover" id="TblDisSecReg" style="margin-top:20px;">
                                <thead>
                                    <tr style="background-color:#001f6b; color:white">
                                        <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Type");}</span></th>
                                        <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    @{
                                        int k2 = 1;
                                        foreach (var item in Model.Where(x => x.Type == "DCR") as IEnumerable<Generalate.Models.ViewModels.SocnsCommPageVewModel>)
                                        {
                                    <tr>
                                        <td>@k2</td>
                                        <td>@item.Name</td>
                                        <td>@item.types</td>
                                        <td><a href="/SocInsCommPage/SubDisSec?id=@item.id"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                    </tr>
                                            k2++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/printThis.js"></script>
    <script>
        $('#btnPrint').on("click", function () {
            $('#prientbox').printThis({
                base: "https://jasonday.github.io/printThis/"
            });
        });
    </script>

    <script>
        $(document).ready(function () {
          //debugger;
            $("#tblSocityDiv").css("display", "block");
            $("#TbInstitutionDiv").css("display", "none");
            $("#TblCommunitiesDiv").css("display", "none");
            $("#ParisDetailDiv").css("display", "none");
            $("#CongDetailDiv").css("display", "none");
            $("#ProvinceDetailDiv").css("display", "none");
            $("#TblComOutSideDiv").css("display", "none");
            $("#TblComHouseDiv").css("display", "none");
            $("#TblDisSecRegDiv").css("display", "none");

            $('#tblSocity').DataTable();
            $('#TbInstitution').DataTable();
            $('#TblCommunities').DataTable();
            $('#TblParis').DataTable();
            $('#TblCong').DataTable();
            $('#TblProv').DataTable();
            $('#TblComOutSide').DataTable();
            $('#TblComHouse').DataTable();
            $('#TblDisSecReg').DataTable();
        });

        $("input[name='optradio']").change(function () {
          //debugger;
            var radioValue = $("input[name='optradio']:checked").val();
            if (radioValue == 's') {
                $("#tblSocityDiv").css("display", "block");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
            } else if (radioValue == 'i') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "block");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
            } else if (radioValue == 'c') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "block");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
            } else if (radioValue == 'P') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "block");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
            } else if (radioValue == 'Cn') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "block");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");

            } else if (radioValue == 'Pr') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "block");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
            
            } else if (radioValue == 'COS') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "block");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "none");
        
            } else if (radioValue == 'CH') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "block");
                $("#TblDisSecRegDiv").css("display", "none");
            } else if (radioValue == 'DSR') {
                $("#tblSocityDiv").css("display", "none");
                $("#TbInstitutionDiv").css("display", "none");
                $("#TblCommunitiesDiv").css("display", "none");
                $("#ParisDetailDiv").css("display", "none");
                $("#CongDetailDiv").css("display", "none");
                $("#ProvinceDetailDiv").css("display", "none");
                $("#TblComOutSideDiv").css("display", "none");
                $("#TblComHouseDiv").css("display", "none");
                $("#TblDisSecRegDiv").css("display", "block");
            }
        });

    </script>
}
