

@model Generalate.Models.GeneralSecretary
@using Generalate.Controllers;
@using System.Linq;

<input type="hidden" id="DynamicTotalCount" value="@ViewBag.DynamicTotalCount" />
<div class="table-responsive">
    <table id="example" class="display table table-sm table-hover table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="background-color:#29b2e1;color:white"><input type="checkbox" id="checkedAll" class="custom-control-input"></th>
                <th class="hide-1 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("S_No");}</span></th>
                <th class="hide-2 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Name");}</span></th>
                <th class="hide-3 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Province_Name");}</span></th>
                <th class="hide-4 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("FromDate");}</span></th>
                <th class="hide-5 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("ToDate");}</span></th>
                <th class="hide-6 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Mandate");}</span></th>
                <th class="hide-7 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("MissionCountry");}</span></th>
                <th class="hide-8 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Designation");}</span></th>
                <th class="hide-9 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Responsibility");}</span></th>
                <th class="hide-10 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Status");}</span></th>
                <th class="hide-11 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Update");}</span></th>
                <th class="hide-12 AllShow" style="background-color:#29b2e1;color:white;display:none"> <span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                <th style="width:2%;background-color:#29b2e1;color:white;cursor:pointer" id="opendivdots" class="notdivhide" onclick="openNav()">...</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = ViewBag.StartIndex;
                foreach (var item in ViewBag.AllGeneralCouncil)
                {
            <tr>
                <td><input type="checkbox" id="checkbox-76" class="checkSingle"></td>
                <td class="AllShow hide-1" style="display:none">@i</td>
                <td class="AllShow hide-2" style="display:none">@item.Name</td>
                <td class="AllShow hide-3" style="display:none">@item.ProvinceId</td>
                <td class="AllShow hide-4" style="display:none">@item.FromDate</td>
                <td class="AllShow hide-5" style="display:none">@item.ToDate</td>
                <td class="AllShow hide-6" style="display:none">@item.Mandate</td>
                <td class="AllShow hide-7" style="display:none">@item.MissionCountry</td>
                <td class="AllShow hide-8" style="display:none">@item.Designation</td>
                <td class="AllShow hide-9" style="display:none">@item.Responsibility</td>
                <td class="AllShow hide-10" style="display:none">
                    <select class="form-control"  id="drp_@item.Id">
                        @{
                            if (item.Status == "0")
                            {

                                <option value="0">Active</option>
                                <option value="1">Completed</option>
                            }
                            else
                            {
                                <option value="1">Completed</option>
                                <option value="0">Active</option>
                            }
                        }

                    </select>
                </td>
                <td class="AllShow hide-11" style="display:none">
                    <button class="btn btn-success btnupdate" type="button" data-id="Main_@item.Id">Update</button>
                </td>
                <td>
                    @* <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Id" class="fa fa-edit EditGeneralCouncil"></i></button>*@
                    @*<button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Id" class="fa fa-trash-o DeleteGeneralCouncil"></i></button>*@
                    <a href="/Home/CongregationList2_GeneralAdminSecretary?Secreteray_Id=@item.Id">
                        <i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Id" class="fa fa-edit"></i>
                    </a>
                    <a>
                        <i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.Id" class="fa fa-trash-o DeleteGeneralCouncil3"></i>
                    </a>
                </td>

            </tr>
                    i++;
                }

            }
        </tbody>
    </table>
    <div id="mySidenav_Dynamic" class="sidenav" style="display:none">
        <div style="border-style:solid">
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-1" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("S_No");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-2" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Name");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-3" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Province_Name");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-4" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("FromDate");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-5" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("ToDate");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-6" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Mandate");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-7" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("MissionCountry");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-8" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Designation");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-9" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Responsibility");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-10" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Status");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-11" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Update");}
                    </div>
                </div>
            </div>
            <div class="row notdivhide">
                <div class="col-md-12">
                    <div class="col-md-1">
                        <input type="checkbox" id="checkbox-grid-12" class="notdivhide">
                    </div>
                    <div class="col-md-9">
                        @{@HomeController.GetControlTextByControlId("Action");}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        //alert($('#mySidenav_Dynamic').html());
        $('#Dynamic_Checkbox').val('1');
        $("#mySidenav").empty();
        $("#mySidenav").html($('#mySidenav_Dynamic').html());
        $('#mySidenav_Dynamic').empty();

        var dynamiColData = '@ViewBag.ColumnShowComm';
        //alert(dynamiColData);
        if (dynamiColData != '') {
            var CommaSepData = dynamiColData.split(',');
            $.each(CommaSepData, function (index, value) {
                $("#checkbox-grid-" + CommaSepData[index]).attr('checked','');
                $(".hide-" + CommaSepData[index]).show();
            });
        }
        else {
            $('input[class=notdivhide]').each(function () {
                $(this).attr('checked', 'true');
            });
            $('.AllShow').show();
        }
        $('input[class=notdivhide]').on('click', function () {
            var id = $(this).attr("id").replace('checkbox-grid-', '');
            if ($(this).is(':checked')) {
                $(".hide-" + id).show();
            }
            else {
                $(".hide-" + id).hide();
            }
        });

    });

    $(".DeleteGeneralCouncil3").on('click', function () {
        var id = $(this).attr("data-val");
        //alert(id);
        var cnf = confirm("Are You Sure, You want to delete?");
        if (cnf == true) {
            window.location.href = "/Home/DeleteGeneralSecretary?id=" + id
        }
    });

    $(".btnupdate").on('click', function () {
        var countid = $(this).attr("data-id");
        countid = countid.replace('Main_', '');
        var newstatus = $("#drp_" + countid).val();
        $.ajax({
            url: "/Home/UpdateGeneralsecretarystatus",
            data: { countid: countid, newstatus: newstatus },
            type: "GET",
            datatype: "json",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                if (result == "Success") {
                    alert("Updated Successfully");
                    location.reload();
                }
                else if (result == "Same") {
                    alert("Current Status and New status are same,Please select New status");
                }
                else {
                    alert("Data Not Updated");
                    location.reload();
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    });

</script>
