@using Generalate.Controllers;
@{
    ViewBag.Title = "Cong Details";
}

<ul class="breadcrumb" style="margin-top:80px;">
    <li class="pull-right"><a style="font-size: 25px; color:#2a6496;" class="fa fa-chevron-circle-left" href="/Home/Admin"></a></li>
</ul>
<style>
    .Mytooltip:hover {
        margin-bottom: 500px;
        cursor: pointer;
    }
</style>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#29b2e1">
                    <div class="row">
                        <div class="col-sm-12"><span style="color:white;font-weight:bold; margin-left:50px;"><span>@{@HomeController.GetControlTextByControlId("Community_Name");}:</span>@ViewBag.SocietyName <span>@{@HomeController.GetControlTextByControlId("and_ComID");}:</span> @ViewBag.id </span> </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 jss_c">
                                    <div id="Institution" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-md-12 brd-panel overflow-daily" style="height:450px;">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading" style="background-color:#29b2e1"><span>@{@HomeController.GetControlTextByControlId("Official_Meeting");}</span> </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <form id="CongForm" action="/Home/AddCongData" method="post" enctype="multipart/form-data">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label><span>@{@HomeController.GetControlTextByControlId("Title");}</span></label>
                                                                                <input type="hidden" id="MyID" name="CongId" value="@ViewBag.id" />
                                                                                <input type="text" id="Tital" name="other1" class="form-control">
                                                                                <input type="hidden" id="id" name="id" class="form-control" />
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label><span>@{@HomeController.GetControlTextByControlId("Date");}</span></label>
                                                                                <input type="text" id="Date1" name="Date" readonly class="form-control datepicker">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label><span>@{@HomeController.GetControlTextByControlId("Upload_Doccument");}</span></label>
                                                                                <input type="file" class="form-control" id="file1" name="file1" accept=".png,.jpg,.pdf,.jpeg">
                                                                                <span id="file12"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label><span>@{@HomeController.GetControlTextByControlId("Description");}</span></label>
                                                                                <textarea id="Description" rows="5" name="Description" class="form-control"></textarea>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-success pull-right" id="btnAddCong"><span>@{@HomeController.GetControlTextByControlId("Save");}</span></button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top:40px;">
                                                                <div class="col-sm-12">
                                                                    <table class="table table-striped table-bordered table-hover" id="FormationTbl">
                                                                        <thead>
                                                                            <tr style="background-color:#001f6b; color:white">
                                                                                <th><span>@{@HomeController.GetControlTextByControlId("S_No");}</span> </th>
                                                                                <th><span>@{@HomeController.GetControlTextByControlId("Title");}</span> </th>
                                                                                <th><span>@{@HomeController.GetControlTextByControlId("Date");}</span></th>
                                                                                <th><span>@{@HomeController.GetControlTextByControlId("View_Documents");}</span></th>
                                                                                <th><span>@{@HomeController.GetControlTextByControlId("Action");}</span></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="tbody">
                                                                            @{
                                                                                int iii = 1;
                                                                                foreach (var item in ViewBag.CongData as IEnumerable<Generalate.Models.CongData>)
                                                                                {
                                                                                    <tr>
                                                                                        <td>@iii</td>
                                                                                        <td>@item.other1</td>
                                                                                        <td>@item.Date</td>
                                                                                        <td>
                                                                                            @{
                                                                                                if (!string.IsNullOrWhiteSpace(@item.File1))
                                                                                                {
                                                                                                    <a target="_blank" href="~/Image/Congation/@item.File1"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <a target="_blank" href="~/Image/No-data-found.png"><span>@{@HomeController.GetControlTextByControlId("Not_Available");}</span></a>
                                                                                                }
                                                                                            }
                                                                                        </td>
                                                                                        <td>
                                                                                            <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.id" class="fa fa-edit EditCong"></i></button>
                                                                                            <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.id" class="fa fa-trash-o DeleteCong"></i></button>
                                                                                            <button><i style="font-size:12px; color:#29b2e1; cursor:pointer;" data-val="@item.id" class="fa fa-eye CongView"></i></button>
                                                                                        </td>
                                                                                    </tr>
                                                                                    iii++;
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal2" style="z-index: 000000 !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="margin-top:60px;">
                                    <div class="modal-content" style="width:1050px;">
                                        <div class="modal-header">
                                            <button type="button" id="manageClose" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel"><span>@{@HomeController.GetControlTextByControlId("Official_Meeting");}</span></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="margin-top:20px; margin-right:10px;">
                                                <div class="col-sm-12">
                                                    <table class="table table-bordered" id="TblPersionalDetails">
                                                        @try
                                                        {
                                                            <tr><h4 style="color:#009be1"><span>@{@HomeController.GetControlTextByControlId("Official_Meeting");}</span></h4></tr>
                                                            <tr>
                                                                <th style="width:17%"><span>@{@HomeController.GetControlTextByControlId("Title");}</span></th>
                                                                <td style="width:30%"><span id="TitleTrust"></span></td>
                                                                <th><span>@{@HomeController.GetControlTextByControlId("Date");}</span></th>
                                                                <td><span id="DateTrust"></span></td>
                                                            </tr>

                                                            <tr>
                                                                <th style="width:17%"> <span>@{@HomeController.GetControlTextByControlId("Description");}</span></th>
                                                                <td><span id="DescriptionTrust"></span>  </td>
                                                                <th><span>@{@HomeController.GetControlTextByControlId("File");}</span></th>
                                                                <td><a target="_blank" id="FileTrust" href="#"><span>@{@HomeController.GetControlTextByControlId("View");}</span></a></td>
                                                            </tr>

                                                        }
                                                        catch (Exception ex)
                                                        {

                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
        {
    <script>
        $(document).ready(function () {
            $('#FormationTbl').DataTable();
            $('#LandTable').DataTable();
            $('#SummaryTable').DataTable();
        });

        $(".EditCong").on('click', function () {
          //debugger;
            $('#CongForm').attr('action', '/Home/UpdateCong');
            var id = $(this).attr("data-val");
            $("#btnAddCong").text("Update");
            $(".brd-panel").scrollTop(0);
            GetCongInfoById(id);
        });
        function GetCongInfoById(id) {
            $.ajax({
                url: "/Home/GetCongInfoById?id=" + id,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                  //debugger;
                    if (result != null) {
                        $('#id').val(result.id);
                        $("#MyID").val(result.CongId);
                        $('#Tital').val(result.other1);
                        $('#Date').val(result.Date);
                        $("#Description").val(result.Description);
                        $("#file12").text(result.File1);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            }); return false;
        }
        $(".DeleteCong").on('click', function () {
            var id = $(this).attr("data-val");
            if (confirm("Do you want to delete ?")) {
                window.location.href = "/Home/DeleteCongDataById?id=" + id;
            }
        });
    </script>
    <script>
        $('.CongView').on("click", function () {
            $('#myModal2').modal('show');
            var id = $(this).attr("data-val");
            GetCongInfoById1(id);
        });
        function GetCongInfoById1(id) {
            $.ajax({
                url: "/Home/GetCongInfoById1?id=" + id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#TitleTrust").text(data.other1);
                    $("#DateTrust").text(data.Date);
                    $("#DescriptionTrust").text(data.Description);
                    $("#FileTrust").attr("href", "/Image/Sociert/" + data.File1);
                },
                error: function (er) {
                }
            });
        }
    </script>


    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "200") {
            $("#mymessage").html("<b>Data saved successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "204") {
            $("#mymessage").html("<b>Some Error Occured !</b>");
            $("#mymessage").css("color", "red");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "201") {
            $("#mymessage").html("<b>Data Updated Successfully !</b>");
            $("#mymessage").css("color", "green");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
    <script>
      //debugger;
        var iscode = $.cookie("iscode");
        if (iscode == "202") {
            $("#mymessage").html("<b>Data Deleted Successfully !</b>");
            $("#mymessage").css("color", "blue");
            $('#myalertbox').modal({
                backdrop: 'static'
            });
            $("#myalertbox").modal("show");
            $.cookie('iscode', null, { path: '/' })
        }
        $(".closemodel").on("click", function () {
            location.reload();
        });
    </script>
}
<style>
    #Date1 {
        color: black
    }
</style>
